@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #272623; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  outline: none;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:hover {
    text-decoration: none; }

button, .btn {
  outline: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border: none;
    border-radius: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 300px;
  height: 70px; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none; }

.btn-accent {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: #1c79e2; }
  .btn-accent:hover {
    background: #272623;
    color: #fff; }

.color-accent {
  color: #1c79e2; }

.bg-grey {
  background: #f9fafb; }

.logo {
  max-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.links-accent {
  color: #1c79e2; }

.links-call {
  font-size: 18px;
  font-weight: 600;
  border-bottom: dashed 1px #1c79e2;
  font-family: "Gilroy", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .links-call:hover {
    border-color: #272623; }

.phone {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #272623;
  font-size: 22px; }
  .phone:hover {
    color: #1c79e2; }

.whatsapp-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 10px 0 0; }
  .whatsapp-links .icon-svg {
    fill: #1c79e2; }

.phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-box {
  text-align: right; }

.container {
  max-width: 1330px;
  position: relative;
  z-index: 1; }

h1 {
  font-size: 50px;
  font-weight: 800; }

h2 {
  font-size: 48px;
  font-weight: bold; }

.title-description {
  font-size: 24px;
  font-weight: bold; }

.box-text {
  line-height: 2.25; }
  .box-text p {
    margin: 0 0 20px; }
    .box-text p:last-child {
      margin: 0; }

svg {
  display: inline-block;
  width: 100%;
  height: 100%; }

.p-80 {
  padding: 80px 0; }

input, .form-control {
  padding: 0 30px;
  outline: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  height: 70px;
  width: 100%;
  font-size: 16px;
  color: #23272c;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  input:hover, input:focus, .form-control:hover, .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }
  input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #23272c; }
  input::-moz-placeholder, .form-control::-moz-placeholder {
    color: #23272c; }
  input::-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #23272c; }
  input::placeholder, .form-control::placeholder {
    color: #23272c; }

label {
  display: block; }

.form-group {
  margin: 0; }

header {
  -webkit-box-shadow: 0 37px 68px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 37px 68px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0; }

.navbar-toggler {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  width: 25px;
  height: 17px;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar-toggler span {
    display: block;
    width: 100%;
    height: 2px;
    background: #272623;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .navbar-toggler:hover span {
    background: #1c79e2; }

.navbar {
  padding: 0;
  margin: 0 auto; }

.nav-link, .navbar-expand-md .navbar-nav .nav-link {
  padding: 0; }

.nav-link {
  color: #272623;
  font-size: 16px; }

.dropdown-toggle {
  width: 5px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 8px; }
  .dropdown-toggle::after {
    display: none; }
  .dropdown-toggle .icon-svg {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    fill: #272623; }

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dropdown:hover .dropdown-menu {
    display: block; }

.nav-item {
  margin: 0 35px 0 0;
  padding: 4px 0; }
  .nav-item:last-child {
    margin: 0; }

.dropdown-menu {
  top: 94%; }

.wrapper {
  padding: 90px 0 0; }

.main-home-img {
  min-width: 883px; }

.main-home {
  padding: 118px 0 0; }
  .main-home h1 {
    margin: 20px 0 35px; }
  .main-home .btn {
    max-width: 300px; }
  .main-home .box-text {
    max-width: 590px;
    width: 100%;
    margin: 0 0 33px; }

.btn-scroll {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  -webkit-box-shadow: 0 11px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 11px 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 14px 18px;
  margin: 39px auto -27.5px; }
  .btn-scroll .icon-svg {
    fill: #1c79e2; }

.economy h2 {
  margin: 0 0 80px;
  max-width: 665px;
  width: 100%; }

.economy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 50px; }
  .economy-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 25px; }

.economy-box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 165px;
  height: 100%; }

.economy-box-content {
  max-width: 230px; }

.economy-box-number {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 80px 0 0;
  font-size: 24px;
  border-right: 1px solid #e0e3e7; }
  .economy-box-number .number {
    font-size: 140px;
    font-weight: 800;
    color: #1c79e2; }
  .economy-box-number:last-child {
    border: none; }
  .economy-box-number:nth-child(2) {
    width: 40%; }
  .economy-box-number p {
    max-width: 290px;
    margin: 0 auto;
    width: 100%; }

.clients-slider {
  width: 100%; }
  .clients-slider .slide {
    border-radius: 5px;
    overflow: hidden;
    height: 456px; }
    .clients-slider .slide img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.slick-slide {
  outline: none; }

.clients h2 {
  margin: 24px 0 40px; }

.clients .btn {
  margin: 50px 0 0; }

.slick-arrow {
  opacity: 1;
  z-index: 1;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 0px 8px 18px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0px 8px 18px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 14px 17px; }
  .slick-arrow:before {
    display: none; }
  .slick-arrow:hover {
    -webkit-box-shadow: 0px 11px 18px 0 rgba(61, 134, 239, 0.42);
            box-shadow: 0px 11px 18px 0 rgba(61, 134, 239, 0.42);
    background: #1c79e2;
    opacity: 1; }
    .slick-arrow:hover svg {
      fill: #fff; }
  .slick-arrow:focus {
    opacity: 1;
    -webkit-box-shadow: 0px 11px 18px 0 rgba(61, 134, 239, 0.42);
            box-shadow: 0px 11px 18px 0 rgba(61, 134, 239, 0.42);
    background: #1c79e2; }
    .slick-arrow:focus svg {
      fill: #fff; }

.slick-prev {
  left: -22.5px; }

.slick-next {
  right: -22.5px; }
  .slick-next svg {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }

.selection-auto {
  padding: 75px 0;
  position: relative;
  background: #0d1013;
  overflow: hidden;
  color: #fff; }
  .selection-auto .box-text {
    margin: 40px 0;
    max-width: 640px;
    width: 100%; }
  .selection-auto h2 {
    max-width: 820px;
    width: 100%; }
  .selection-auto:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: .3;
    width: 1113px;
    height: 1984px;
    background: url("../img/overlay1.png") no-repeat center;
      background-size: contain; }
  .selection-auto:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: url("../img/bg1.jpg") no-repeat center;
      background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .2; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form .form-group {
    max-width: 300px;
    width: 100%;
    margin: 0 0 40px; }
  .form button {
    margin: 0 0 40px; }

.advantages-help {
  padding: 85px 0 30px; }
  .advantages-help h2 {
    max-width: 1115px; }
  .advantages-help .economy-box-content {
    max-width: 296px; }
    .advantages-help .economy-box-content p {
      max-width: 230px;
      margin: 0 auto; }

.reviews {
  padding: 0 0 20px; }
  .reviews .btn {
    margin: 0 auto; }

.reviews-slider {
  margin: 50px 0;
  width: 100%; }
  .reviews-slider .slick-slide {
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .reviews-slider .slick-next {
    right: 297px; }
  .reviews-slider .slick-prev {
    left: 297px; }

.slick-slider-opacity {
  opacity: .2; }

.delivery-item {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.independent-search {
  padding: 100px 0 0; }
  .independent-search .box-text {
    margin: 48px 0 0;
    line-height: 1.88; }

.independent-search-img {
  min-width: 1477px;
  float: right; }

.stages-work h2 {
  max-width: 440px;
  margin: 0 0 50px; }

.stages-work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 80px; }
  .stages-work-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 20px; }

.stages-work-box__icon {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 19px 28px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0px 19px 28px 0 rgba(0, 0, 0, 0.05);
  width: 150px;
  height: 150px;
  padding: 37px;
  position: relative;
  margin: 0 0 30px; }
  .stages-work-box__icon svg {
    fill: #1c79e2; }
  .stages-work-box__icon .number {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    -webkit-box-shadow: 0px 19px 28px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0px 19px 28px 0 rgba(0, 0, 0, 0.09);
    background: #1c79e2;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px; }

.stages-work-box__content {
  max-width: 250px; }

.partners-slider {
  width: 100%; }
  .partners-slider .slide {
    padding: 50px 0; }

.partners-box {
  width: 290px;
  height: 95px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 19px 28px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0px 19px 28px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.slick-dots {
  position: relative;
  bottom: 0; }
  .slick-dots .slick-active {
    background: #1c79e2; }
  .slick-dots li {
    width: 15px;
    height: 15px;
    background-color: #ededed;
    border-radius: 50%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    outline: none;
    margin: 0 15px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }

.selection-auto2:before {
  background: url("../img/bg2.jpg") no-repeat center;
    background-size: cover; }

footer {
  background: #0d1013;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  padding: 60px 0 0; }
  footer .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold; }

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background: #1c79e2;
  padding: 8px;
  margin: 0 23px 0 0; }
  .footer-icon svg {
    fill: #fff; }

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 0 85px; }

.footer-bottom {
  padding: 31px 0 30px;
  background: #090b0d; }
  .footer-bottom .links-accent {
    margin: 0 0 0 59px;
    text-decoration: underline; }

.copyright {
  margin: 0 auto 0 0; }

.footer-contacts {
  padding: 40px 0; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto; }
  .list-social li {
    margin: 0 0 0 20px; }
    .list-social li a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #1c79e2;
      padding: 7px; }
      .list-social li a svg {
        fill: #fff;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .list-social li a:hover {
        background: #fff; }
        .list-social li a:hover svg {
          fill: #1c79e2; }

.subscribe-wrapper {
  padding: 40px 0;
  border-top: 1px solid rgba(28, 121, 226, 0.2);
  border-bottom: 1px solid rgba(28, 121, 226, 0.2);
  text-align: center; }
  .subscribe-wrapper h2 {
    text-transform: uppercase;
    margin: 0 0 29px; }

.form-subscribe {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .form-subscribe .form-group {
    max-width: 544px;
    margin: 0 20px 0 0; }
  .form-subscribe input {
    height: 62px;
    padding: 0 35px;
    font-family: "Gilroy", sans-serif; }
  .form-subscribe button {
    height: 62px;
    margin: 0;
    font-size: 24px;
    font-family: "Gilroy", sans-serif; }

.footer-menu__links {
  color: rgba(255, 255, 255, 0.4); }
  .footer-menu__links:hover {
    color: #fff; }

.footer-menu__item {
  margin: 0 0 20px; }
  .footer-menu__item:last-child {
    margin: 0; }

.footer-box {
  margin: 0 0 39px; }
  .footer-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 34px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
